@charset "UTF-8";
@import url("Home.css");

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #c7d2fe;
    border-radius: 6px;
}
h1{
	color: rgb(255, 255, 255);

}
.main{
	color: rgb(255, 255, 255);

	
}